<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>


    <!-- jobs form -->
    <div class="mt-5">
      <h2>Search Jobs</h2>
      <form action="/search/getJobData" method="GET">
        <div class="mb-3">
            <label for="search" class="form-label">Job Name</label>
            <input type="text" class="form-control" id="searchBox" name="search" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        <div id="autoCompleteResults"></div>
      </form>
    </div>
    <!-- jobs list -->
      <div class="col-8">
        <h4>Your Recent Searches</h4>
        <ul class="row list-unstyled">
          <%if(searches){ %>
            <% for(var i=0; i < 5; i++) {%>
              <li class="col-8 justify-content-between mt-2">
                <%= searches[i] %>
              </li>
            <% } %>
          <%}%>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  

    </div>
  </div>
</div>

<script src="/script.js"></script>
<%- include('partials/footer') -%>
