<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>



    <!-- jobs list -->
      <div class="col-8">
        <h4>States with lots of jobs</h4>
        <ul class="row list-unstyled">
          
          <li class="col-8 justify-content-between mt-2">
            <%= JSON.stringify(searchResult, null, 2) %>
          </li>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  

    </div>
  </div>
</div>

<script src="/script.js"></script>
<%- include('partials/footer') -%>