<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>



    <!-- jobs list -->
      <div class="row mt-5">
        <h4>States with lots of jobs</h4>
        <ul>
          <% dataFromApi.forEach(item => { %>
            <li>
              <strong>Name:</strong> <%= item.name %>,
              <strong>Location Quotient:</strong> <%= item.location_quotient %>,
              <strong>Postal Code:</strong> <%= item.postal_code %>
            </li>
          <% }) %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  

    </div>
  </div>
</div>

<script src="/script.js"></script>
<%- include('partials/footer') -%>