<%- include('partials/headerSignedIn') -%>
<main class="my-5 flex items-center justify-center">
  <div
    class="my-5 bg-gray-800 p-8 rounded-lg shadow-md w-[40%] max-[1250px]:w-[66%]"
  >
    <div class="grid text-center">
      <h4 class="text-white text-2xl mb-5">
        States ranked by popularity for<br />
        <%= jobTitle %>
      </h4>
      <p class="text-white text-lg mb-5">
        Number of jobs is determined by Location Quotient. <br />
        <a href="https://www.bea.gov/help/faq/478"
          ><strong>Click here</strong> for more info on Location Quotients</a
        >
      </p>
      <ul class="grid text-gray-900 items-center border-separate">
        <% aboveAvgStates.forEach(item => { %>
        <div class="mb-5 bg-gray-400 rounded-lg border-2 border-gray-600">
          <li class="my-5">
            <%= item.name %>
            <ul>
              <li>
                <strong>Location Quotient:</strong> <%= item.location_quotient
                %>
              </li>
              <!-- <li><strong>Postal Code:</strong> <%= item.postal_code %></li> -->
              <li>
                <strong>Two BR Rent:</strong> $<%=
                rentPrice[aboveAvgStates.indexOf(item)] %>
              </li>
              <strong>Outdoor Recreation Score:</strong>
              <%= outdoorRank[aboveAvgStates.indexOf(item)] %>
            </ul>
          </li>
        </div>
        <% }) %> <% avgStates.forEach(item => { %>
        <div class="mb-5 bg-gray-400 rounded-lg border-2 border-gray-600">
          <li class="my-5">
            <%= item.name %>
            <ul>
              <li>
                <strong>Location Quotient:</strong> <%= item.location_quotient
                %>
              </li>
              <!-- <li><strong>Postal Code:</strong> <%= item.postal_code %></li> -->
              <li>
                <strong>Two BR Rent:</strong> $<%=
                rentPrice[avgStates.indexOf(item)] %>
              </li>
              <strong>Outdoor Recreation Score:</strong>
              <%= outdoorRank[avgStates.indexOf(item)] %>
            </ul>
          </li>
        </div>
        <% }) %> <% belowAvgStates.forEach(item => { %>
        <div class="mb-5 bg-gray-400 rounded-lg border-2 border-gray-600">
          <li class="my-5">
            <%= item.name %>
            <ul>
              <li>
                <strong>Location Quotient:</strong> <%= item.location_quotient
                %>
              </li>
              <!-- <li><strong>Postal Code:</strong> <%= item.postal_code %></li> -->
              <li>
                <strong>Two BR Rent:</strong> $<%=
                rentPrice[belowAvgStates.indexOf(item)] %>
              </li>
              <strong>Outdoor Recreation Score:</strong>
              <%= outdoorRank[belowAvgStates.indexOf(item)] %>
            </ul>
          </li>
        </div>
        <% }) %>
      </ul>
    </div>
    <div class="flex items-center justify-content-center">
      <section class="m-auto items-center justify-content-center text-center">
        <!-- <a class="btn btn-primary mb-10 justify-content-center items-center" href="/profile">New Search</a> -->
        <div class="mb-16">
          <a href="/profile">
            <button
              type="button"
              class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
            >
              <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                New Search
              </span>
            </button></a
          >
        </div>

        <a
          href="https://services.onetcenter.org/"
          title="This site incorporates information from O*NET Web Services. Click to learn more."
          ><img
            class="m-auto"
            src="https://www.onetcenter.org/image/link/onet-in-it.svg"
            style="width: 130px; height: 60px; border: none"
            alt="O*NET in-it"
        /></a>

        <p class="whitespace-normal">
          This site incorporates information from
          <a href="https://services.onetcenter.org/">O*NET Web Services</a>
          by the U.S. Department of Labor, Employment and Training
          Administration (USDOL/ETA).O*NET&reg; is a trademark of USDOL/ETA.
        </p>
      </section>
    </div>
  </div>
</main>

<script src="/script.js"></script>
<script src="/reload/reload.js"></script>
<%- include('partials/footer') -%>
