<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-2">
      
    
    <div class="row">
        <h4>Above-Average States for <br> <%= jobTitle %> </h4>
        <p>Number of jobs is determined by Location Quotient. <br> <a href="https://www.bea.gov/help/faq/478">Click here for more info on Location Quotients</a> </p>
        <ul>
          <% dataFromApi.forEach(item => { %>
            <li>
              <strong>State:</strong> <%= item.name %>,
              <strong>Location Quotient:</strong> <%= item.location_quotient %>,
              <strong>Postal Code:</strong> <%= item.postal_code %>
              <strong>Two BR Rent:</strong> <%= rentPrice[dataFromApi.indexOf(item)] %>
            </li>
          <% }) %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
          <p style="text-align: center"><a href="https://services.onetcenter.org/" title="This site incorporates information from O*NET Web Services. Click to learn more."><img src="https://www.onetcenter.org/image/link/onet-in-it.svg" style="width: 130px; height: 60px; border: none" alt="O*NET in-it"></a></p>
            <p>This site incorporates information from <a href="https://services.onetcenter.org/">O*NET Web Services</a> by the U.S. Department of Labor, Employment and Training Administration (USDOL/ETA). O*NET&reg; is a trademark of USDOL/ETA.</p>
        </div>  
      </div>  

    </div>
  </div>
</div>

<script src="/script.js"></script>
<%- include('partials/footer') -%>